
04/2/bigboy.txt
05/2/bigboy.txt
07/1/bigboy.txt
07/2/bigboy.txt
template/
11/1/testinput.txt
11/2/testinput.txt
11/2/testinput2.txt
01/1/run.bat
01/2/run.bat
02/1/run.bat
02/2/run.bat
03/1/run.bat
03/2/run.bat
04/1/run.bat
04/2/run.bat
05/1/run.bat
05/2/run.bat
06/1/run.bat
06/2/run.bat
07/1/run.bat
07/2/run.bat
08/1/run.bat
08/2/run.bat
09/1/run.bat
09/2/run.bat
10/1/run.bat
10/2/run.bat
11/1/run.bat
11/2/run.bat